---

---
<div class="mt-8 text-center">
    <h2 class="text-gray-600 font-mono">Bon estat!</h2>
    <p class="text-gray-600 font-mono text-xl m-2">La quantitat del sagnat es normal.</p>
    <p class="text-gray-600 font-mono text-xl m-2">Segueix fent els qustionaris</p>
    <p class="text-gray-600 font-mono text-xl m-2">per fer seguir amb el seguiment.</p>
</div>