---

---
<div class="mt-8 text-center">
    <p class="text-green-600 font-mono text-4xl m-4">Bon estat!</p>
    <p class="text-clip text-green-600  font-mono text-base leading-loose m-2">La quantitat del sagnat es normal. Segueix fent els qustionaris per fer el seguiment.</p>
</div>