---

---
<div class="mt-8 text-center">
    <p class="text-red-600 font-mono text-4xl m-4">Atenció!</p>
    <p class="text-red-600 text-clip font-mono text-base leading-loose m-2">La quantitat del sagnat no és normal. Podrien ser símptomes de SMA, recomanem contactar amb el seu metge.</p>
</div>