---
import MainLayout from "../layouts/MainLayout.astro";
import UserHome from "../components/UserHome.astro";
import Boton from "../components/Boton.astro";
import IconsInferior from "../components/IconsInferior.astro"
import Card from "../components/Card.astro";
import '../styles/home.css';
---

<MainLayout pageTitle="Dracula">
    <header class="relative flex justify-end items-center bg-electric-violet-600 p-4">
      <div class="flex flex-col items-center">
        <div class="mr-auto relative w-10 h-10 overflow-hidden bg-gray-100 rounded-full dark:bg-gray-600">
          <svg class="absolute w-12 h-12 text-gray-400 -right-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd"></path></svg>
        </div>
      </div>
    </header>
    <p class="font-mono">Hola</p>
    <a href="/test" class="gradient-button">Mi botón</a>
    <footer>
            <IconsInferior/>
      </footer>
  </MainLayout>
  

