---
import MainLayout from "../layouts/MainLayout.astro";
import UserHome from "../components/UserHome.astro";
import Boton from "../components/Boton.astro";
import IconsInferior from "../components/IconsInferior.astro"
import Header from "../components/Header.astro";
import '../styles/home.css';
---

<MainLayout pageTitle="Dracula - Home">
    <Header title="Home"/>
    <div class="relative overflow-hidden w-2/4 max-w-md shadow-xl flex items-center justify-center mx-auto mt-10 rounded-xl ring ring-electric-violet-200">
        <img src="http://127.0.0.1:8000/api/grafic_pbac/paulita" alt="Line Chart">
    </div>
    <IconsInferior/>
</MainLayout>
  

