---
import MainLayout from '../layouts/MainLayout.astro'
import Card from '../components/Card.astro';
---
<MainLayout title="Dracula - Benvinguda">
	<main>
		<h1>Benvingut a <span class="text-gradient font-mono">Dràcula</span></h1>
		<p class="instructions">
			Una aplicació creada per mantenir un seguiment de la quantitat de sang
			que poden arribar a perdre les dones per la regla
		</p>
		<ul role="list" class="link-card-grid">
			<Card
				href="/login"
				title="Inicia sessió"
				body=""
			/>
			<Card
				href="/signup"
				title="Registra't"
				body=""
			/>
		</ul>
	</main>
</MainLayout>
<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 0.5em;
		color: black;
	}
	.text-gradient {
		background: linear-gradient(to right, #9a0ebd, #eba3ff);
		background-clip: text;
		color: transparent;
	}
	.instructions {
		margin-bottom: 1.5rem;
		background-color:#fdf3ff;
		box-shadow: 0 0 10px rgba(208, 54, 255, 0.1); /* Agregado un efecto de sombra */
		padding: 1.5rem;
		border-radius: 8px;
		color: #a914d2;
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
