---
import Footer from "../components/Footer.astro";
import './styles/login.css';
import Header from '../components/Header.astro';
---
  

<html lang="ca">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} >
    <title>Dracula Login</title>
  </head>
  <body>
    <Header title = "Inicia sessió"/>
  
    <h2>Introdueix el teu nom d'usuari i contrasenya</h2>

    <form id="loginForm" action="http://127.0.0.1:8000/api/login/" method="post">
        <label for="username">Usuari:</label>
        <input class="relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-purple-600 to-blue-500 group-hover:from-purple-600 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800" type="text" id="username" name="username">
        <br>
        <label for="password">Contrasenya:</label>
        <input class="relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-purple-600 to-blue-500 group-hover:from-purple-600 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800" type="password" id="password" name="password">
        <br>
        <a href="/home/">
            <button type="button" id="miBoton" class="mt-5 text-white bg-gradient-to-r from-purple-500 via-purple-600 to-purple-800 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-purple-300 dark:focus:ring-purple-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">Finalitzar</button>
        </a>
    </form>
        <script type="module">
            function getCookie(cname) {
                let name = cname + "=";
                let decodedCookie = decodeURIComponent(document.cookie);
                let ca = decodedCookie.split(";");
                for (let i = 0; i < ca.length; i++) {
                    let c = ca[i];
                    while (c.charAt(0) == " ") {
                        c = c.substring(1);
                    }
                    if (c.indexOf(name) == 0) {
                        return c.substring(name.length, c.length);
                    }
                }
                return "";
            }

      function handleClick() {
    console.log(JSON.stringify({
        username: document.getElementById('username').value,
        password: document.getElementById('password').value
    }));
            function setCookie(cname, cvalue) {
                document.cookie = cname + "=" + cvalue + ";path=/";
            }
            const miBoton = document.getElementById("miBoton");

            function handleClick() {
                console.log(
                    JSON.stringify({
                        username: document.getElementById("username").value,
                        password: document.getElementById("password").value,
                    }),
                );

                fetch("http://192.168.45.49:8000/api/login/", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify({
                        username: document.getElementById("username").value,
                        password: document.getElementById("password").value,
                    }),
                })
                    .then((response) => response.json())
                    .then((data) => {
                        console.log(data);

                        // Check if the response is OK (200)
                        if (data.status == "OK") {
                            setCookie("username", document.getElementById("username").value);
                        } else {
                            alert("Error al iniciar sessió");
                        }
                    })
                    .catch((error) => {
                        // Handle any errors that occurred during the fetch
                        console.error("Error during fetch:", error);
                        alert("Error al comunicar-se amb el servidor");
                    });
            }
        }

      miBoton.addEventListener('click', handleClick);
    }
    </script>

    <p>Si no tens compte <a href="/signup"><u>registra't</u></a></p>

    <Footer/>
  </body>
</html>
