---
import IconsInferior from "../components/IconsInferior.astro";
import MainLayout from "../layouts/MainLayout.astro";
import Boton from "../components/Boton.astro";
import Header from "../components/Header.astro";
import '../styles/home.css';

//QÜESTIONARI SAMANTA
/* 
    -Sagna durant de mes 7 dies al mes? (SI: 3, NO:0)
    -Te 3 o mes dies de sagnat mes abundant durant la seva menstruaccio? (SI: 1, NO: 0)
    -En general, la seva regla li resulta especualment molesta degut a la seva abundancia? (SI: 3, NO: 0)
    -En algun dels dies de sagnat mes abundant taca la roba per les nits; o la tacaria si no 
    fes servir doble proteccio o es cambies durant la nit (SI: 1, NO: 0)
    -Durant els dies de sagnat mes abundant li preocupa tacar el seient de la seva cadira, sofa, etc... (SI: 1, NO: 0)
    -En general, en els dies de sagnat mes abundant, evita (en la mesura de lo possible) algunes 
    activitats, viatges o plates d'oci perque deu cambiarse frequentment de tampo o la compresa (SI: 1, NO: 0)
*/
//TEST PBAC
/*
    Fer un boto ? per saber que es cada cosa
    Compresa - Tampo
*/
---
<MainLayout pageTitle="Dracula - Qüestionaris">
    <Header title="Qüestionaris"/>
    <div class="flex flex-col items-center justify-center p-8">
        <a href="/pbac/">
            <div class="w-96 h-30 m-4 text-white bg-gradient-to-r from-blue-violet-600 to-blue-violet-800  p-10 text-center font-mono rounded-2xl">TEST PBAC</div>
        </a>
        <a href="/samanta/">
            <div class="w-96 h-30 m-4 text-white bg-gradient-to-r from-blue-violet-600 to-blue-violet-800 p-10 text-center font-mono rounded-2xl">QÜESTIONARI SAMANTA</div>
        </a>
    </div>
    <IconsInferior/>
</MainLayout>
