---
import MainLayout from "../layouts/MainLayout.astro";
import IconsInferior from "../components/IconsInferior.astro";
import Header from "../components/Header.astro";
import '../styles/home.css';
---
<MainLayout pageTitle="Dracula - SAMANTA">
    <Header title="SAMANTA"/>
    <h2></h2>
    <h3></h3>
    <div class="flex flex-col items-center m-3">
        <div class="flex items-center space-x-4 justify-center">  
            <div class="flex items-center ps-4 border border-electric-violet-200 rounded">
                <input id="Si" type="radio" value="" name="bordered-radio" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300">
                <label for="Si" class="w-10 py-4 ms-2 text-sm font-medium text-gray-900">Si</label>
            </div>
            <div class="flex items-center ps-4 border border-electric-violet-200 rounded">
                <input checked id="No" type="radio" value="" name="bordered-radio" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300">
                <label for="No" class="w-10 py-4 ms-2 text-sm font-medium text-gray-900">No</label>
            </div>
        </div>
        <button id="next-button" class="mt-4 flex items-center bg-green-500 text-white px-4 py-2 rounded">Següent</button>
    </div>
    




    <script>
        import "../scripts/script.js"
    </script>
    <IconsInferior/>
</MainLayout>