/*
--electric-violet-50: #fdf3ff;
--electric-violet-100: #f8e6ff;
--electric-violet-200: #f3ccff;
--electric-violet-300: #eba3ff;
--electric-violet-400: #e26dff;
--electric-violet-500: #d036ff;
--electric-violet-600: #a914d2;
--electric-violet-700: #9a0ebd;
--electric-violet-800: #800e9a;
--electric-violet-900: #6c117e;
--electric-violet-950: #470055;
*/

html {
    background-color: #f8e6ff;
    font-family: sans-serif;
}

body {
    margin: 0;
    width: 100%;
    line-height: 1.5;
    text-align: center; /* Centra el texto e elementos en línea */
    align-items: center; /* Centra elementos de bloque */
    min-height: 100vh; /* Asegura que el cuerpo ocupe al menos la altura de la ventana */
}

* {
    box-sizing: border-box;
}

h1 {
    margin: 1rem 0;
    font-size: 2.5rem;
    color: #6c117e;
    text-transform: uppercase;
}

h2 {
    margin: 1rem 0;
    font-size: 1.5rem;
}

p {
    margin: 1rem 0;
}

label {
    display: block;
    margin: 1rem 0;
}

Header {
    margin: 0;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
}

input {
    margin: 0;

}

/* nav styles */

.nav-links {
    width: 100%;
    top: 5rem;
    left: 48px;
    background-color: #ff9776;
    display: none;
    margin: 0;
}

.nav-links a {
    display: block;
    text-align: center;
    padding: 10px 0;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
}

.nav-links a:hover,
.nav-links a:focus {
    background-color: #ff9776;
}

.expanded {
    display: unset;
}

@media screen and (min-width: 636px) {
    .nav-links {
    margin-left: 5em;
    display: block;
    position: static;
    width: auto;
    background: none;
    }

    .nav-links a {
    display: inline-block;
    padding: 15px 20px;
    }

}

